.padre {
    display: grid;
    width: 96%;
    background-color: var(--bg);
    grid-template-columns: 14rem auto 2rem;
    overflow: hidden;
}

/* CREAR STACK */

.explicacion {
    display: flex;
    flex-direction: column;
}

.explicacion .consejos {
    display: flex;
    flex-direction: column;
}

.explicacion .consejos .consejo {
    display: flex;
    flex-direction: column;
}

.explicacion .consejos .consejo h3 ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.explicacion .consejos .consejo h3 ul li {
    list-style: disc;
}

.explicacion button {
    background-color: var(--buttons);
    cursor: pointer;
    border: none;
}

.explicacion button:hover {
    opacity: 80%;
}

.stack-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stack-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack-form h1 {
    font-size: 2rem;
}

.stack-form form .container {
    background-color: bisque;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 50%;
    max-width: 500px;
}

.stack-form form .container .textbox {
    display: flex;
    flex-direction: column;
}

.stack-form form .container .textbox label {
    zoom: 120%;
}

.stack-form form .container .textbox input {
    zoom: 120%;
    background-color: var(--light_blue);
    border: none;
    outline: none;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.stack-form form .container .textbox input:focus {
    opacity: 85%;
    box-shadow: 0 0 0.5rem var(--blue);
    border: none;
}

.stack-form form .container .textbox input::placeholder {
    color: white;
}

.stack-form form .container .serverweb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack-form form .container .mysql {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack-form form button{
    background-color: var(--buttons);
    cursor: pointer;
    border: none;
}

.stack-form form button:hover {
    opacity: 80%;
}

/* START NAV */

aside {
    height: 100vh;
}

aside .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

aside .top .logo {
    display: flex;
    align-items: center;
}

aside .top .logo h2, aside .top .logo span {
    font-size: 1.8rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    height: 86vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3rem;
}

aside .sidebar h3 {
    font-weight: 500;
}

aside .sidebar a {
    color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    margin-left: 2rem;
    gap: 1rem;
    position: relative;
    height: 3.7rem;
}

aside .sidebar a.active {
    background-color: white;
    color: var(--light_blue);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--light_blue);
}

aside .sidebar a:hover {
    color: var(--light_blue);
}

aside form {
    display: flex;
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside form h3 {
    font-weight: 500;
}

aside form:hover {
    color: var(--light_blue);
}

/* END NAV */

/* Dashboard */


.dashboard {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.dashboard .stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .stats table {
    border-style: solid;
    border-color: rgb(100 116 139);
    border-width: 2px;
    table-layout: auto;
    border-spacing: 1.25rem 1.25rem;
    border-collapse: collapse;
    --tw-shadow-color: #475569;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.dashboard .stats table thead {
    background-color: rgb(148 163 184);
}

.dashboard .stats table thead tr td {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(100 116 139);
    text-align: center;
    font-weight: 700;
}

.dashboard .stats table tbody tr td {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(226 232 240);
    text-align: center;
}

.dashboard .other_staff {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.dashboard .other_staff .cont {
    width: 100%;
    height: 300px;
    background-color: bisque;
    padding: 2rem;
}

/* End dashboard */

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: rgb(44, 40, 40);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1050px) {
    .stack-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
