.padre {
    display: grid;
    width: 96%;
    background-color: var(--bg);
    grid-template-columns: 14rem auto 2rem;
    overflow: hidden;
}

/* CREAR STACK */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .textbox {
    display: flex;
    flex-direction: column;
}

form .textbox label {
    zoom: 120%;
}

form .textbox input {
    zoom: 120%;
    background-color: var(--light_blue);
    border: none;
    outline: none;
    transition: background-color 0.2s, box-shadow 0.2s;
}

form .textbox input.file_nginx {
    zoom: 100%;
}

form .textbox input:focus {
    opacity: 85%;
    box-shadow: 0 0 0.5rem var(--blue);
    border: none;
}

form .textbox input::placeholder {
    color: white;
}

form button.stack-button {
    background-color: var(--buttons);
    cursor: pointer;
    border: none;
}

form button.stack-button {
    opacity: 80%;
}

.invalid-feedback {
    padding-left: 1rem;
}

/* START NAV */

aside {
    height: 100vh;
}

aside .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

aside .top .logo {
    display: flex;
    align-items: center;
}

aside .top .logo h2, aside .top .logo span {
    font-size: 1.8rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    height: 86vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3rem;
}

aside .sidebar h3 {
    font-weight: 500;
}

aside .sidebar a {
    color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    margin-left: 2rem;
    gap: 1rem;
    position: relative;
    height: 3.7rem;
}

aside .sidebar a.active {
    background-color: white;
    color: var(--light_blue);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--light_blue);
}

aside .sidebar a:hover {
    color: var(--light_blue);
}

aside form {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside form:hover {
    color: var(--light_blue);
}

/* END NAV */

/* Dashboard */

.dashboard {
    display: grid;
    grid-template-rows: min-content;
}

.dashboard .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard .stats table {
    width: 100%;
    font-size: larger;
    border-style: solid;
    border-color: rgb(100 116 139);
    border-width: 3px;
    table-layout: auto;
    border-spacing: 1.25rem 1.25rem;
    border-collapse: collapse;
    --tw-shadow-color: #475569;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.dashboard .stats table thead {
    background-color: rgb(148 163 184);
}

.dashboard .stats table thead tr td {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(100 116 139);
    text-align: center;
    font-weight: 700;
}

.dashboard .stats table tbody tr td {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(226 232 240);
    text-align: center;
}

.dashboard .info {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.dashboard .info .important {
    font-weight: 700;
}

/* End dashboard */

@media screen and (max-width: 1050px) {
    .stack-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
