.padre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.padre .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.padre .info button {
    background-color: var(--buttons);
    cursor: pointer;
    border: none;
}
