.home_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_nav .logo {
    display: flex;
    align-items: center;
}

.home_nav .menu-horizontal {
    list-style: none;
	display: flex;
}
